<section id="comments">
  <h1 class="comment-title">Comments</h1>
  <div id="disqus_thread">

     评论加载中... <br> <br> 注：如果长时间无法加载，请针对 disq.us | disquscdn.com | disqus.com 启用代理。
  </div>
    <script type="text/javascript">
    // required: replace example with your forum shortname
    var disqus_shortname = '<%=theme.disqus_shortname%>';
    var disqusLoad = false;
    window.onload = function () {
      var container = document.querySelector('#container');
      var winHeight = window.innerHeight
      container.addEventListener('scroll', function () {
        var diffHeight = container.scrollHeight - container.scrollTop
        if(diffHeight < (winHeight + 50) && !disqusLoad){
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  disqusLoad = true;
        }
      })
    }
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
